.accham-wrapper {
  //   position: relative;
  min-height: 100vh;
  .accham-bg {
    background-image: url(../../../assets/images/bg.jpg);
    background-position: top;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}
