.accham-wrapper {
  //   position: relative;
  min-height: 100vh;
  .accham-bg {
    background-image: url(../../../assets/images/bg.jpg);
    // background-color: rgba(0, 0, 0, 1);
    background-position: top;
    // position: absolute;
    // opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}
