.aboutus {
  position: absolute;
  top: 4rem;
  // bottom: 0;
  left: 0.25rem;
  z-index: 99;
  width: max-content;
  li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: whitesmoke;
    position: relative;
    &:hover {
      background-color: #06195a;
    }
  }
}
