.gallarry {
  width: 100%;
  margin: 0 auto;
  img {
    // object-fit: cover;
    transition: 0.3s all ease-in-out;
    width: 290px;
    height: 180px;
    flex: 1 1 310px;
    // max-width: 320px;
    &:hover {
      transform: scale(0.97);
    }
  }
}
